doctype html
html
  head
    title Mishal dance academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul 
            div#logo
                img(src="/static/img/img.png")
                | MDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]

section#introSection
        div Welcome to mishal Dance Academy
        div.small Eat Sleep Dance Repeat

section#missionSection
        h2 Our Mission
        div.card
            h4 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/img/img4.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h4 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/img/img13.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h4 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/imgg14.png")
                div.card-content
                    p This is the best dance academy of the universe

section#sponsorsSection
        h2 Our Sponsors
        div#sponsors
            img(src="/static/img/logo2.png", alt="sponser img", class="spImage1")
            img(src="/static/img/logo3.jpg", alt="sponser img", class="spImage2")
            img(src="/static/img/logo4.png", alt="sponser img", class="spImage3")
            img(src="/static/img/logo5.png", alt="sponser img", class="spImage4")
footer#footer
    | Copyright © 2019 HarryAcademy.com | All Rights Reserved
script 
    include ../static/index.js 
